.button {
  min-width: 50px;
  background: orange;
  color: white;
  padding: 1px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.button:active {
  background: rgb(255, 94, 0);
}
